
@{
    ViewData["Title"] = "Find City Id";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <form method="post">
            <label>Enter City Name</label>
            <br /><br />
            <input type="text" class="form-control" name="p" />
            <br />
            <button type="submit" class="btn btn-outline-success">Find City ID</button>
        </form>
    </div>
</div>